body {
  margin: 0;
  font-family: sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #081c3a;
}

.scrollyBar {
  width: 80px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  border-right: 1px solid rgba(242, 242, 246, 0.2);
  z-index: 25;
}

.scrollyBar .hamburgerContainer {
  transition: 1s;
  z-index: 10;
  width: 80px;
  height: 100px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scrollyBar .hamburgerContainer .hamburger {
  height: 20px;
  width: 20px;
  transform-origin: center;
  animation: rotate-appear-animation 1s ease-in-out forwards;
}

.scrollyBar .hamburgerContainer .hamburger:hover {
  cursor: pointer;
}

@keyframes rotate-appear-animation {
  0% {
    opacity: 0;
    transform: rotate(0deg);
  }
  100% {
    opacity: 1;
    transform: rotate(180deg);
  }
}

.scrollyBar .sidebar.open {
  animation: sidebaropen 1.2s ease-in-out 1 normal forwards;
}

@keyframes sidebaropen {
  0% {
    left: -445px;
  }
  100% {
    left: 0px;
  }
}

.scrollyBar .sidebar {
  width: 440px;
  overflow: hidden;
  height: 100vh;
  z-index: 7;
  background-color: white;
  position: fixed;
  left: -445px;
  transition-timing-function: ease-in-out;
}

.scrollyBar .sidebar .sidebarContainer {
  width: 430px;
  height: 100vh;
  margin: 100px 0px 0px 50px;
}

.scrollyBar .sidebar .sidebarContainer .exploreV {
  font-size: 25px;
  font-weight: 700;
  color: #081c3a;
  margin-bottom: 30px;
}

.scrollyBar .sidebar .sidebarContainer .sidebarScrollContainer {
  width: 380px;
  height: calc(100vh - 180px);
  overflow-y: scroll;
  overflow-x: hidden;
}

.scrollyBar .sidebar .sidebarContainer .sidebarScrollContainer .ScrollboxSecond {
  margin-top: 50px;
}

.scrollyBar .sidebar .sidebarContainer .sidebarScrollContainer .sidebarScrollbox {
  width: 360px;
}

.scrollyBar .sidebar .sidebarContainer .sidebarScrollContainer .sidebarScrollbox .scrollboxtitle {
  width: 340px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}

.scrollyBar .sidebar .sidebarContainer .sidebarScrollContainer .sidebarScrollbox .scrollboxtitle :nth-child(1) {
  letter-spacing: 2px;
  font-size: 10px;
}

.scrollyBar .sidebar .sidebarContainer .sidebarScrollContainer .sidebarScrollbox .scrollboxtitle :nth-child(2) {
  width: 110px;
  height: 1px;
  border-bottom: 1px solid #f2f2f6;
}

.scrollyBar .sidebar .sidebarContainer .sidebarScrollContainer .sidebarScrollbox .scrollboxcontent.infocontent {
  margin: 10px 5px 10px 0;
  border: 1px solid #f2f2f6;
  width: 340px;
  height: 50px;
  transition: 0.5s;
  border-radius: 5px;
  background-color: #f7f8fc;
}

.scrollyBar .sidebar .sidebarContainer .sidebarScrollContainer .sidebarScrollbox .scrollboxcontent {
  margin: 10px 5px 10px 0;
  border: 1px solid #f2f2f6;
  width: 340px;
  height: 100px;
  transition: 0.5s;
  border-radius: 5px;
}

.scrollyBar .sidebar .sidebarContainer .sidebarScrollContainer .sidebarScrollbox .scrollboxcontent:hover {
  transform: scale(1.05);
  transition-timing-function: ease-in-out;
}

.scrollyBar .sidebar .sidebarContainer .sidebarScrollContainer .sidebarScrollbox .scrollboxcontent:hover .Africa {
  background: url(./assets/EgyptSimbel.optimal.jpg) no-repeat;
  background-size: cover;
}

.scrollyBar .sidebar .sidebarContainer .sidebarScrollContainer .sidebarScrollbox .scrollboxcontent:hover .Asia {
  background: url(./assets/oahu.jpg) no-repeat;
  background-size: cover;
}

.scrollyBar .sidebar .sidebarContainer .sidebarScrollContainer .sidebarScrollbox .scrollboxcontent:hover .Europe {
  background: url(./assets/sailboat.jpg) no-repeat;
  background-size: cover;
}

.scrollyBar .sidebar .sidebarContainer .sidebarScrollContainer .sidebarScrollbox .scrollboxcontent:hover .France {
  background: url(./assets/Greecenight.jpg) no-repeat;
  background-size: cover;
}

.scrollyBar .sidebar .sidebarContainer .sidebarScrollContainer .sidebarScrollbox .scrollboxcontent:hover .Greece {
  background: url(./assets/Greecepicture.jpg) no-repeat;
  background-size: cover;
}

.scrollyBar .sidebar .sidebarContainer .sidebarScrollContainer .sidebarScrollbox .scrollboxcontent:hover .Egypt {
  background: url(./assets/Egypt.jpg) no-repeat;
  background-size: cover;
}

.scrollyBar .sidebar .sidebarContainer .sidebarScrollContainer .sidebarScrollbox .scrollboxcontent:hover .boxcontent_locations .boxcontent_card .cardName {
  color: white;
  font-weight: 700;
}

.scrollyBar .sidebar .sidebarContainer .sidebarScrollContainer .sidebarScrollbox .scrollboxcontent:hover .boxcontent_locations .boxcontent_card .sixlocations {
  color: white;
}

.scrollyBar .sidebar .sidebarContainer .sidebarScrollContainer .sidebarScrollbox .scrollboxcontent:hover .boxcontent_locations .boxcontent_gonext {
  display: flex;
  align-items: center;
  justify-content: center;
}

.scrollyBar .sidebar .sidebarContainer .sidebarScrollContainer .sidebarScrollbox .scrollboxcontent:hover .boxcontent_locations .boxcontent_gonext :nth-child(1) {
  color: white;
}

.scrollyBar .sidebar .sidebarContainer .sidebarScrollContainer .sidebarScrollbox .scrollboxcontent:hover .boxcontent_locations.contact {
  background-color: #f7f8fc;
  transition: 0.5s;
  transition-timing-function: ease-in-out;
}

.scrollyBar .sidebar .sidebarContainer .sidebarScrollContainer .sidebarScrollbox .scrollboxcontent:hover .boxcontent_locations.contact:hover .boxcontent_card {
  transform: translate(15px);
}

.scrollyBar .sidebar .sidebarContainer .sidebarScrollContainer .sidebarScrollbox .scrollboxcontent:hover .boxcontent_locations.contact:hover .info_gonext {
  transform: translate(15px);
}

.scrollyBar .sidebar .sidebarContainer .sidebarScrollContainer .sidebarScrollbox .scrollboxcontent:hover .boxcontent_locations .info_gonext :nth-child(1) {
  color: #152844;
  background-color: #f7f8fc;
  border: 1px solid #f2f2f6;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scrollyBar .sidebar .sidebarContainer .sidebarScrollContainer .sidebarScrollbox .scrollboxcontent .boxcontent_locations {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.scrollyBar .sidebar .sidebarContainer .sidebarScrollContainer .sidebarScrollbox .scrollboxcontent .boxcontent_locations:hover {
  cursor: pointer;
}

.scrollyBar .sidebar .sidebarContainer .sidebarScrollContainer .sidebarScrollbox .scrollboxcontent .boxcontent_locations .boxcontent_card {
  padding: 20px 20px;
}

.scrollyBar .sidebar .sidebarContainer .sidebarScrollContainer .sidebarScrollbox .scrollboxcontent .boxcontent_locations .boxcontent_card:hover {
  cursor: pointer;
}

.scrollyBar .sidebar .sidebarContainer .sidebarScrollContainer .sidebarScrollbox .scrollboxcontent .boxcontent_locations .boxcontent_card .cardName {
  font-size: 20px;
  color: #081c3a;
}

.scrollyBar .sidebar .sidebarContainer .sidebarScrollContainer .sidebarScrollbox .scrollboxcontent .boxcontent_locations .boxcontent_card .sixlocations {
  font-size: 12px;
  color: #4a586f;
  letter-spacing: 2px;
  padding: 15px 0px;
}

.scrollyBar .sidebar .sidebarContainer .sidebarScrollContainer .sidebarScrollbox .scrollboxcontent .boxcontent_locations .boxcontent_gonext {
  border-radius: 50%;
  border: 1px solid white;
  width: 30px;
  height: 30px;
  margin-right: 20px;
  display: none;
}

.scrollyBar .sidebar .sidebarContainer .sidebarScrollContainer .sidebarScrollbox .followustitle {
  width: 340px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 60px 0;
}

.scrollyBar .sidebar .sidebarContainer .sidebarScrollContainer .sidebarScrollbox .followustitle :nth-child(1) {
  letter-spacing: 2px;
  font-size: 14px;
}

.scrollyBar .sidebar .sidebarContainer .sidebarScrollContainer .sidebarScrollbox .followusIcon {
  display: flex;
  align-items: center;
  width: 220px;
}

.scrollyBar .sidebar .sidebarContainer .sidebarScrollContainer .sidebarScrollbox .followusIcon .followusIcon_circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #f7f8fc;
  margin-right: 15px;
}

.scrollyBar .sidebar .sidebarContainer .sidebarScrollContainer .sidebarScrollbox .followusIcon .followusIcon_circle:hover {
  cursor: pointer;
}

.scrollyBar .box_FII {
  width: 80px;
  height: 120px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 5px;
}

.scrollyBar .box_FII .companyicon {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scrollyBar .box_FII .companyicon:hover {
  cursor: pointer;
  background-color: #3572ff;
}

.hero {
  width: auto;
  height: 100vh;
  background: url(./assets/oahu.jpg) no-repeat;
  overflow-x: hidden;
  object-fit: fill;
  background-size: cover;
  left: 0px;
  position: relative;
}

.hero .hiddentopTitle {
  width: calc(100% - 80px);
  transition: 2s;
  background-color: white;
  z-index: 5;
  height: 0;
  overflow: hidden;
}

.hero .hiddentopTitle .hiddentest {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  min-width: 1300px;
}

.hero .hiddentopTitle .hidden_topTitleContnet {
  background-color: white;
  z-index: 4;
  width: 100vw;
  position: fixed;
  top: 0px;
  left: 80px;
  height: 0;
  overflow: hidden;
  display: inline-block;
}

.hero .hiddentopTitle .hidden_topTitleContnet .hiddenCovilla {
  float: left;
  line-height: 100px;
  font-size: 25px;
  margin: 25px 0px 0px 40px;
  font-weight: 700;
}

.hero .hiddentopTitle .hidden_topTitleContnet .hiddenCovilla span {
  font-weight: 750;
}

.hero .hiddentopTitle .hidden_topTitleContnet .hiddenTopSelections {
  width: 400px;
  float: left;
  margin: 20px 200px 0 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero .hiddentopTitle .hidden_topTitleContnet .hiddenTopSelections .hiddennavButt {
  letter-spacing: 2px;
  font-weight: 600;
  padding: 10px;
}

.hero .hiddentopTitle .hidden_topTitleContnet .hiddenTopSelections {
  width: 400px;
  float: left;
  margin: 20px 200px 0 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}

.hero .hiddentopTitle .hidden_topTitleContnet .hiddenTopSelections div {
  letter-spacing: 2px;
  z-index: 10;
  font-weight: 650;
}

.hero .hiddentopTitle .hidden_topTitleContnet .hiddenTopSelections div:hover {
  cursor: pointer;
}

.hero .hiddentopTitle .hidden_topTitleContnet .hidden_destinationsBox {
  float: left;
  border: 1px solid #081c3a;
  border-radius: 5px;
  margin: 28px 210px 0px 0px;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero .hiddentopTitle .hidden_topTitleContnet .hidden_destinationsBox h3 {
  font-size: 16px;
  font-weight: 650;
  padding: 10px 15px;
  margin: 0;
  letter-spacing: 2px;
}

.hero .hiddentopTitle .hidden_topTitleContnet .hidden_destinationsBox svg {
  padding: 5px 10px 0 10px;
}

.hero .hiddentopTitle .hidden_topTitleContnet .hidden_destinationsBox:hover {
  cursor: pointer;
}

.hero .topTitle {
  height: 100px;
  width: 100vw;
  min-width: 1300px;
  margin-left: 100px;
  position: fixed;
  top: 0px;
  left: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 5;
}

.hero .topTitle .TopSelections {
  width: 400px;
  float: left;
  margin: 20px 200px 0 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero .topTitle .TopSelections .navButt {
  letter-spacing: 2px;
  font-weight: 600;
  padding: 5px;
  border-radius: 5px;
  display: none;
}

.hero .topTitle .TopSelections .navButt:hover {
  cursor: pointer;
}

.hero .topTitle .covilla {
  margin: 30px 0 0 0;
  color: white;
  font-weight: bold;
  font-size: 25px;
}

.hero .topTitle .destinationsBox {
  border: 1px solid #f2f2f6;
  border-radius: 5px;
  color: #152844;
  margin: 30px 250px 0px 0px;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero .topTitle .destinationsBox h3 {
  font-size: 16px;
  font-weight: 650;
  padding: 10px 15px;
  margin: 0px;
  letter-spacing: 2px;
  color: white;
}

.hero .topTitle .destinationsBox svg {
  padding: 5px 10px 0 10px;
}

.hero .topTitle .destinationsBox:hover {
  cursor: pointer;
}

.hero .topTitle .destination_options.open {
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
}

.hero .topTitle .destination_options {
  width: 500px;
  height: 300px;
  z-index: 5;
  border-radius: 10px;
  background-color: white;
  position: fixed;
  top: 103px;
  right: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.hero .topTitle .destination_options .DE_optionContent {
  width: 460px;
  height: 260px;
}

.hero .topTitle .destination_options .DE_optionContent .scrollboxtitle {
  width: 460px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.hero .topTitle .destination_options .DE_optionContent .scrollboxtitle :nth-child(1) {
  letter-spacing: 2px;
  font-size: 14px;
}

.hero .topTitle .destination_options .DE_optionContent .scrollboxtitle :nth-child(2) {
  width: 260px;
  height: 1px;
  border-bottom: 1px solid #f2f2f6;
}

.hero .topTitle .destination_options .DE_optionContent .locationsFLEX {
  display: flex;
  justify-content: space-between;
  width: 460px;
  height: 120px;
}

.hero .topTitle .destination_options .DE_optionContent .locationsFLEX .scrollboxcontent {
  margin: 10px 5px 10px 0;
  border: 1px solid #f2f2f6;
  width: 340px;
  height: 100px;
  transition: 0.5s;
  border-radius: 5px;
}

.hero .topTitle .destination_options .DE_optionContent .locationsFLEX .scrollboxcontent:hover {
  transform: scale(1.05);
  transition-timing-function: ease-in-out;
  cursor: pointer;
}

.hero .topTitle .destination_options .DE_optionContent .locationsFLEX .scrollboxcontent:hover .France {
  background: url(./assets/Greecenight.jpg) no-repeat;
  background-size: cover;
}

.hero .topTitle .destination_options .DE_optionContent .locationsFLEX .scrollboxcontent:hover .Asia {
  background: url(./assets/oahu.jpg) no-repeat;
  background-size: cover;
}

.hero .topTitle .destination_options .DE_optionContent .locationsFLEX .scrollboxcontent:hover .Greece {
  background: url(./assets/Greecepicture.jpg) no-repeat;
  background-size: cover;
}

.hero .topTitle .destination_options .DE_optionContent .locationsFLEX .scrollboxcontent:hover .Egypt {
  background: url(./assets/Egypt.jpg) no-repeat;
  background-size: cover;
}

.hero .topTitle .destination_options .DE_optionContent .locationsFLEX .scrollboxcontent:hover .boxcontent_locations .boxcontent_card .cardName {
  color: white;
  font-weight: 700;
}

.hero .topTitle .destination_options .DE_optionContent .locationsFLEX .scrollboxcontent:hover .boxcontent_locations .boxcontent_card .sixlocations {
  color: white;
}

.hero .topTitle .destination_options .DE_optionContent .locationsFLEX .scrollboxcontent:hover .boxcontent_locations .boxcontent_gonext {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero .topTitle .destination_options .DE_optionContent .locationsFLEX .scrollboxcontent:hover .boxcontent_locations .boxcontent_gonext :nth-child(1) {
  color: white;
}

.hero .topTitle .destination_options .DE_optionContent .locationsFLEX .scrollboxcontent:hover .boxcontent_locations.contact {
  background-color: #f7f8fc;
  transition: 0.5s;
  transition-timing-function: ease-in-out;
}

.hero .topTitle .destination_options .DE_optionContent .locationsFLEX .scrollboxcontent:hover .boxcontent_locations.contact:hover .boxcontent_card {
  transform: translate(15px);
}

.hero .topTitle .destination_options .DE_optionContent .locationsFLEX .scrollboxcontent:hover .boxcontent_locations.contact:hover .info_gonext {
  transform: translate(15px);
}

.hero .topTitle .destination_options .DE_optionContent .locationsFLEX .scrollboxcontent:hover .boxcontent_locations .info_gonext :nth-child(1) {
  color: #152844;
  background-color: #f7f8fc;
  border: 1px solid #f2f2f6;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero .topTitle .destination_options .DE_optionContent .locationsFLEX .scrollboxcontent .boxcontent_locations {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero .topTitle .destination_options .DE_optionContent .locationsFLEX .scrollboxcontent .boxcontent_locations .boxcontent_card {
  padding: 20px 20px;
}

.hero .topTitle .destination_options .DE_optionContent .locationsFLEX .scrollboxcontent .boxcontent_locations .boxcontent_card .cardName {
  font-size: 20px;
  color: #081c3a;
}

.hero .topTitle .destination_options .DE_optionContent .locationsFLEX .scrollboxcontent .boxcontent_locations .boxcontent_card .sixlocations {
  font-size: 12px;
  color: #4a586f;
  letter-spacing: 2px;
  padding: 15px 0px;
}

.hero .topTitle .destination_options .DE_optionContent .locationsFLEX .scrollboxcontent .boxcontent_locations .boxcontent_gonext {
  border-radius: 50%;
  border: 1px solid white;
  width: 30px;
  height: 30px;
  margin-right: 20px;
  display: none;
}

.hero .section_webtitle_planNextVacation {
  width: 1300px;
  margin: 0 auto;
}

.hero .section_webtitle_planNextVacation .webtitle_planNextVacation {
  margin-left: 100px;
}

.hero .section_webtitle_planNextVacation .mainTitle {
  margin: 350px 0 0 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero .section_webtitle_planNextVacation .mainTitle .mainTitle_title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  height: 100px;
  color: white;
}

.hero .section_webtitle_planNextVacation .mainTitle .mainTitle_title .mainTitle_contactus {
  font-size: 20px;
  text-align: center;
  letter-spacing: 3px;
}

.hero .section_webtitle_planNextVacation .mainTitle .mainTitle_title .mainTitle_haveaquestion {
  font-size: 75px;
  font-weight: bold;
  margin: 20px 0;
  text-align: center;
}

.thefutureoftravel {
  margin-left: 80px;
  width: 100vw;
  height: 650px;
  border-bottom: 1px solid #f2f2f6;
}

.thefutureoftravel .thefutureoftravel_center {
  width: 1500px;
  height: 600px;
  padding: 100px 0px 0px 100px;
  margin: 0 auto;
  position: relative;
}

.thefutureoftravel .thefutureoftravel_Container {
  width: 1325px;
  height: 580px;
  background-color: white;
  position: absolute;
  top: -100px;
  padding: 25px;
}

.thefutureoftravel .thefutureoftravel_Container .thefutureoftravel_title {
  text-align: center;
  letter-spacing: 2px;
  line-height: 1.4em;
  font-family: Inter, sans-serif;
  color: #081c3a;
}

.thefutureoftravel .thefutureoftravel_Container .thefutureoftravelBlock {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
}

.thefutureoftravel .thefutureoftravel_Container .thefutureoftravelBlock .familytravel {
  width: 550px;
  height: auto;
  border-radius: 12px;
  padding: 60px;
}

.thefutureoftravel .thefutureoftravel_Container .thefutureoftravelBlock .familytravel .familytravel_title {
  font-family: Poppins, sans-serif;
  font-size: 48px;
  line-height: 1.25em;
  font-weight: 600;
  letter-spacing: -0.025em;
  margin-bottom: 35px;
  color: #081c3a;
}

.thefutureoftravel .thefutureoftravel_Container .thefutureoftravelBlock .familytravel .familytravel_content {
  color: #516381;
  font-size: 19px;
  line-height: 1.6em;
  font-weight: 400;
  margin-bottom: 35px;
}

.thefutureoftravel .thefutureoftravel_Container .thefutureoftravelBlock .familytravel .familytravel_contactus {
  width: 150px;
  height: 50px;
  background-color: #3572ff;
  font-size: 14px;
  line-height: 50px;
  box-sizing: border-box;
  color: white;
  text-align: center;
  border-radius: 5px;
  transition: 0.5s;
}

.thefutureoftravel .thefutureoftravel_Container .thefutureoftravelBlock .familytravel .familytravel_contactus:hover {
  cursor: pointer;
  background-color: #081c3a;
  transform: scale(1.05);
}

.thefutureoftravel .thefutureoftravel_Container .thefutureoftravelBlock .familytravel_img {
  width: 600px;
  height: 450px;
  background: url(./assets/Family0012.jpeg) no-repeat;
  background-size: contain;
  margin-top: 20px;
  margin-right: 15px;
  border-radius: 5px;
}

.ourmission {
  background-color: #f7f8fc;
  margin-left: 80px;
  width: 100vw;
  height: 1700px;
}

.ourmission .ourmission_container {
  width: 760px;
  height: 500px;
  margin: 0 auto;
  overflow: hidden;
}

.ourmission .ourmission_container .ourmission_textContainer {
  width: 700px;
}

.ourmission .ourmission_container .ourmission_textContainer .ourmission_title {
  text-align: center;
  letter-spacing: 2px;
  color: #1e425f;
  font-size: 15px;
  line-height: 1.4em;
  font-weight: 400;
  letter-spacing: 3px;
  margin-top: 100px;
}

.ourmission .ourmission_container .ourmission_textContainer .ourmission_titlecontent {
  text-align: center;
  color: #081c3a;
  font-family: Poppins, sans-serif;
  font-size: 48px;
  line-height: 1.25em;
  font-weight: 600;
  letter-spacing: -0.025em;
  margin: 20px 0px;
}

.ourmission .ourmission_container .ourmission_content {
  height: 350px;
  width: 700px;
  text-align: center;
  font-size: 25px;
  color: #516585;
  margin-top: 35px;
  margin-left: 20px;
}

.ourmission .ourmission_container .ourmission_content div {
  margin-bottom: 40px;
  margin-top: 10px;
}

.ourmission .waterfall {
  min-width: 900px;
  width: 1326px;
  height: 1080px;
  column-count: 3;
  column-gap: 10px;
  counter-reset: count;
  list-style: none;
  margin: 0px auto;
  padding: 25px;
}

.ourmission .waterfall li {
  position: relative;
  margin-bottom: 5px;
}

.ourmission .waterfall li img {
  width: 442px;
  border-radius: 8px;
}

.ourmission .waterfall li .share_1 {
  height: 342px;
}

.ourmission .waterfall li .share_2 {
  height: 698px;
}

.ourmission .waterfall li .share_4 {
  height: 500px;
}

.ourmission .waterfall li .share_5 {
  height: 238px;
}

.ourmission .waterfall li .share_7 {
  height: 458px;
}

.background {
  width: auto;
  height: 1000px;
  background: url(./assets/Greecenight.jpg) no-repeat;
  background-size: cover;
  background-color: rgba(15, 19, 38, 0.55);
  overflow: hidden;
}

.background .backgroundContainer {
  position: relative;
  margin-top: 350px;
}

.background .backgroundContainer .background_allinfo {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.background .backgroundContainer .background_allinfo .background_talk {
  letter-spacing: 2px;
  color: white;
  font-size: 13px;
}

.background .backgroundContainer .background_allinfo .background_title {
  text-align: center;
  width: 500px;
  margin: 20px 0;
  color: white;
  word-spacing: 2px;
  font-size: 45px;
  font-weight: bold;
  transition: 2s;
  transform-style: preserve-3d;
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1);
}

.background .backgroundContainer .background_allinfo .background_text {
  text-align: center;
  width: 770px;
  margin-bottom: 20px;
  color: white;
  word-spacing: 2px;
  font-size: 25px;
  animation: zoomin 2s ease-in-out 1 normal forwards;
}

@keyframes zoomin {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.aboutcovilla_travelAgent_ {
  background-color: #f7f8fc;
  margin-left: 80px;
  width: 100vw;
  height: 680px;
}

.aboutcovilla_travelAgent_ .meetAgents {
  width: 1500px;
  height: 550px;
  padding: 100px 0px 0px 100px;
  margin: 0 auto;
  position: relative;
}

.aboutcovilla_travelAgent_ .meetAgents .meetAgents_agentsContainer {
  position: absolute;
  top: -140px;
  width: 1360px;
  height: 548px;
  background-color: white;
  border-radius: 10px;
  margin: 50px 0px 100px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.aboutcovilla_travelAgent_ .meetAgents .meetAgents_agentsContainer .agentContent {
  width: 270px;
  height: 496px;
  padding: 20px;
  transition: 1s;
  border-radius: 10px;
  z-index: 2;
}

.aboutcovilla_travelAgent_ .meetAgents .meetAgents_agentsContainer .agentContent:hover {
  transform: scale(1.02);
  cursor: pointer;
  box-shadow: 0 12px 36px -8px rgba(53, 64, 117, 0.1);
}

.aboutcovilla_travelAgent_ .meetAgents .meetAgents_agentsContainer .agentContent:hover .agentPictures img {
  transform: scale(1.06);
}

.aboutcovilla_travelAgent_ .meetAgents .meetAgents_agentsContainer .agentContent .agentPictures {
  border-radius: 15px;
  overflow: hidden;
}

.aboutcovilla_travelAgent_ .meetAgents .meetAgents_agentsContainer .agentContent .agentPictures img {
  transition: 1s;
  width: 275px;
  height: 325px;
  border-radius: 10px;
}

.aboutcovilla_travelAgent_ .meetAgents .meetAgents_agentsContainer .agentContent .agentName {
  font-size: 25px;
  color: #081c3a;
  font-size: 700;
  margin: 30px 25px 20px 10px;
}

.aboutcovilla_travelAgent_ .meetAgents .meetAgents_agentsContainer .agentContent .agentlocation {
  font-size: 17px;
  color: #79879e;
  margin: 0px 25px 20px 10px;
}

footer {
  margin-left: 80px;
  width: 100%;
  margin-bottom: 20px;
}

footer .footer_Container {
  width: 1364px;
  height: 100px;
  padding: 48px 0px 12px 36px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .footer_Container .footerdestinationContainer {
  width: 540px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .footer_Container .footerdestinationContainer .footerDestination {
  padding: 9px 14px;
  border-radius: 5px;
  background-color: #f7f8fc;
  letter-spacing: 2px;
  color: #6c778b;
  font-size: 15px;
  margin-right: 15px;
}

footer .footer_Container .footerdestinationContainer .footercountry {
  color: #657590;
  letter-spacing: 2px;
  font-size: 14px;
  padding: 15px;
  border-radius: 5px;
  transition: 0.5s;
  transition-timing-function: linear;
}

footer .footer_Container .footerdestinationContainer .footercountry:hover {
  cursor: pointer;
  background-color: #f7f8fc;
}

footer .footer_Container .footercovillaContainer {
  height: 100px;
}

footer .footer_Container .footercovillaContainer .footercovilla {
  color: #081c3a;
  font-size: 25px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  margin-top: 30px;
}

footer .footer_Container .footercovillaContainer .footercovilla span {
  font-weight: 700;
}

footer .footer_Container .footercovillaContainer .copyrightcovilla {
  color: #657590;
  margin-top: 30px;
}
